<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.fastlms.admin.mapper.BannerMapper">



    <select id="selectListCount"
            resultType="long">
        SELECT
            COUNT(*)
        FROM BANNER
    </select>


    <select id="selectBannerList"
            resultType="com.zerobase.fastlms.admin.dto.BannerDto">
        SELECT
            *
        FROM BANNER
        ORDER BY REG_DT DESC
        LIMIT #{pageStart}, #{pageEnd}
    </select>

    <select id="selectFrontBannerList"
            resultType="com.zerobase.fastlms.member.dto.FrontBannerDto">
        SELECT
            B.URL_FILENAME
            , B.LINK_URL
            , B.OPEN_WAY
        FROM BANNER B
        WHERE USING_YN = '1'
        ORDER BY SORT_ORDER ASC
    </select>


</mapper>