<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.fastlms.course.mapper.CourseMapper">

    <sql id="selectListWhere">
        <if test="searchType != null and searchValue != null">
            <choose>
                <when test="searchType == 'userId'">
                    AND USER_ID LIKE CONCAT('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'userName'">
                    AND USER_NAME LIKE CONCAT('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'phone'">
                    AND PHONE LIKE CONCAT('%', #{searchValue}, '%')
                </when>
                <otherwise>
                    AND (
                    USER_ID LIKE CONCAT('%', #{searchValue}, '%')
                    OR
                    USER_NAME LIKE CONCAT('%', #{searchValue}, '%')
                    OR
                    PHONE LIKE CONCAT('%', #{searchValue}, '%')
                    )
                </otherwise>
            </choose>
        </if>
    </sql>

    <select id="selectListCount"
            parameterType="com.zerobase.fastlms.course.model.CourseParam"
            resultType="long">
        SELECT
            COUNT(*)
        FROM COURSE
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectListWhere"></include>
        </trim>
    </select>


    <select id="selectList"
            parameterType="com.zerobase.fastlms.course.model.CourseParam"
            resultType="com.zerobase.fastlms.course.dto.CourseDto">
        SELECT
            *
        FROM COURSE
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectListWhere"></include>
        </trim>
        LIMIT #{pageStart}, #{pageEnd}
    </select>


</mapper>