<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.fastlms.admin.mapper.MemberMapper">

    <sql id="selectListWhere">
        <if test="searchType != null and searchValue != null">
            <choose>
                <when test="searchType == 'userId'">
                    AND A.USER_ID LIKE CONCAT('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'userName'">
                    AND A.USER_NAME LIKE CONCAT('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'phone'">
                    AND A.PHONE LIKE CONCAT('%', #{searchValue}, '%')
                </when>
                <otherwise>
                    AND (
                    A.USER_ID LIKE CONCAT('%', #{searchValue}, '%')
                    OR
                    A.USER_NAME LIKE CONCAT('%', #{searchValue}, '%')
                    OR
                    A.PHONE LIKE CONCAT('%', #{searchValue}, '%')
                    )
                </otherwise>
            </choose>
        </if>
    </sql>

    <select id="selectListCount"
            parameterType="com.zerobase.fastlms.admin.model.MemberParam"
            resultType="long">
        SELECT
            COUNT(*)
        FROM MEMBER A
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectListWhere"></include>
        </trim>
    </select>


    <select id="selectList"
            parameterType="com.zerobase.fastlms.admin.model.MemberParam"
            resultType="com.zerobase.fastlms.admin.dto.MemberDto">
        SELECT
            A.user_id AS userId
            , A.password AS password
            , A.reg_dt AS regDt
            , A.user_name AS userName
            , A.phone AS phone
            , A.email_auth_key AS emailAuthKey
            , A.email_auth_yn AS emailAuthYn
            , A.email_auth_dt AS emailAuthDt
            , A.reset_password_key AS resetPasswordKey
            , A.reset_password_limit_dt AS resetPasswordLimitDt
            , A.admin_yn AS adminYn
            , (SELECT b.login_dt from LOGIN_HISTORY B where B.USER_ID = A.USER_ID order by b.login_dt DESC limit 0, 1) as lastLoginDt
        FROM MEMBER A
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectListWhere"></include>
        </trim>
        LIMIT #{pageStart}, #{pageEnd}
    </select>

    <select id="selectLoginHistoryList"
            parameterType="com.zerobase.fastlms.admin.model.MemberParam"
            resultType="com.zerobase.fastlms.admin.dto.LoginHistoryDto">
        SELECT
            ID
            , LOGIN_DT
            , USER_AGENT
            , USER_ID
            , USER_IP_ADDR
        FROM LOGIN_HISTORY
        WHERE USER_ID = #{userId}
        ORDER BY LOGIN_DT DESC
    </select>

</mapper>