<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.fastlms.course.mapper.TakeCourseMapper">

    <sql id="selectListWhere">
        <if test="searchCourseId > 0">
            AND TC.ID = #{searchCourseId}
        </if>
    </sql>

    <select id="selectListCount"
            parameterType="com.zerobase.fastlms.course.model.TakeCourseParam"
            resultType="long">
        SELECT
            COUNT(*)
        FROM TAKE_COURSE TC
        JOIN COURSE C on TC.COURSE_ID = C.ID
        JOIN MEMBER M on TC.USER_ID = M.USER_ID
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectListWhere"></include>
        </trim>
    </select>


    <select id="selectList"
            parameterType="com.zerobase.fastlms.course.model.TakeCourseParam"
            resultType="com.zerobase.fastlms.course.dto.TakeCourseDto">
        SELECT
            TC.ID
            , TC.COURSE_ID
            , TC.PAY_PRICE
            , TC.REG_DT
            , TC.STATUS
            , TC.USER_ID
            , C.SUBJECT
            , M.USER_NAME
            , M.PHONE
        FROM TAKE_COURSE TC
        JOIN COURSE C on TC.COURSE_ID = C.ID
        JOIN MEMBER M on TC.USER_ID = M.USER_ID
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectListWhere"></include>
        </trim>
        ORDER BY REG_DT DESC
    </select>

    <select id="selectListMyCourse"
            parameterType="com.zerobase.fastlms.course.model.TakeCourseParam"
            resultType="com.zerobase.fastlms.course.dto.TakeCourseDto">
        SELECT
            TC.ID
            , TC.COURSE_ID
            , TC.PAY_PRICE
            , TC.REG_DT
            , TC.STATUS
            , TC.USER_ID
            , C.SUBJECT
        FROM TAKE_COURSE TC
        JOIN COURSE C on TC.COURSE_ID = C.ID
        AND TC.USER_ID = #{userId}
        ORDER BY TC.REG_DT DESC
    </select>


</mapper>