<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>

    <!-- bootstrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <style>


    </style>



</head>
<body>
    <h1>메인 페이지</h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu">
    </div>

    <div>

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img src="/img/banner-img/main.jpg" class="d-block w-70" alt="...">
                </div>

                <div th:each="banner : ${frontBannerList}" class="carousel-item">
                    <a th:href="@{${banner.linkUrl}}" th:target="${banner.openWay}">
                        <img th:src="${banner.urlFilename}" class="d-block w-70" alt="...">
                    </a>
                </div>


            </div>
        </div>

    </div>



</body>
</html>